<!-- <div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>Parties</h2>

        <table>
          <thead>
            <tr>
              <td>Party Name</td>
              <td>Category</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of parties">
              <td>{{item.PartyName}}</td>
              <td>{{item.Category}}</td>
            </tr>
          </tbody>
        </table>

      </mat-card-content>
    </mat-card>

  </div>
</div> -->

<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field> -->

<div class="mat-elevation-z8 my-container">
  <mat-card class="heading1">
    <h1 class="md-display-3"><span style="text-align: center;"> Parties</span> </h1>
  </mat-card>
  <table mat-table matSort [dataSource]="dataSource" style="padding: 1%;" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="PartyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"> Party Name </th>
      <td mat-cell *matCellDef="let element"> {{element.PartyName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Category">
      <th class="table-header" mat-header-cell mat-sort-header *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.Category}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20,30,40]" showFirstLastButtons></mat-paginator>
</div>
<style>
  .ex1 {

    padding-left: 50px !important;
  }

  .ex2 {
    padding-right: 76px !important;
  }
</style>