
<div class="mat-elevation-z8 my-container">
    <!-- <span class="material-icons " color="primary">add_box</span> -->
    <button mat-button color="primary" [routerLink]="['/transactions/add']">Add Transactions</button>
    
  <mat-card class="heading1">
    <h1 class="md-display-3"><span style="text-align: center;"> Transactions</span> </h1>
  </mat-card>
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 " style="padding: 1%;">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    <!-- id,transactionType,transactionMode,description,createdDate,modifiedDate,isdeleted,partyName, amount -->
    <!-- Position Column -->
    <ng-container matColumnDef="transactionDateTime" hidden="true">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"> Transaction Date </th>
      <td mat-cell *matCellDef="let element"> {{element.transactionDateTime | date : "dd-MM-yyyy"}} </td>
    </ng-container>



    <ng-container matColumnDef="partyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"> Party Name </th>
      <td mat-cell *matCellDef="let element"> {{element.partyName}} </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="transactionType">
      <th class="table-header" mat-header-cell mat-sort-header *matHeaderCellDef> Transaction Type </th>
      <td mat-cell *matCellDef="let element"> {{element.transactionType}} </td>
    </ng-container>

    <ng-container matColumnDef="transactionMode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"> Transaction Mode </th>
      <td mat-cell *matCellDef="let element"> {{element.transactionMode}} </td>
    </ng-container>


    <ng-container matColumnDef="description">
      <th class="table-header" mat-header-cell mat-sort-header *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>


    <ng-container matColumnDef="amount">
      <th class="table-header" mat-header-cell mat-sort-header *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20,30,40]" showFirstLastButtons></mat-paginator>

</div>

<style>
.white-icon {
    color: blue;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.white-icon svg {
    fill: white;
}</style>