.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.table-header{
    font-weight: bold;
    font-size: 100%;
}

td, th {
    width: 20%;
  }